body
{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color:white;
    gap:30%;
    justify-content: space-evenly;
}

.header
{
    font-size: 150%;
    flex:1;
    background-color: rgb(29, 29, 32);
    margin-bottom:1.5%;
}
.choose
{
    font-size: 175%;
    color:orange;
    flex:1;
}
.scoreboard{
    margin-top:2.5%;
    display: flex;
    justify-content:center;
    gap:10%;
    font-size: 150%;
    margin-left: 20%;
    margin-right:20%;
    flex:1;
    max-width: 100%;
}

.button
{
    margin-top:2.5%;
    display: flex;
    justify-content:center;
    gap:10%;
    flex:1;
    margin-left:10%;
    margin-right:10%;
    max-width: 100%;
}

.scoreboard img
{
    width:200px;
    height: 200px;
    flex:1;
    /* border: 10px solid;
    border-color: rgb(12, 9, 224); */
    border-radius: 25%;
}

.button img{
    width: 130px;
    flex:1;
    border-radius: 20%;
}

.human-score,.comp-score
{
    font-size:70px;
    color:yellow;
}

.button1,.button2,.button3
{
    display: flex;
}

.highlight {
    border: 3px solid rgb(173, 189, 33);
    box-shadow: 0 0 10px 5px rgb(155, 187, 42);
    transform: scale(1.1); /* Slightly enlarge the button */
}


.highlight1 {
    border: 2px solid rgb(185, 197, 16);
    box-shadow: 0 0 5px 2.5px rgb(182, 185, 10);
    transform: scale(1.1); /* Slightly enlarge the button */
}